/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
/* @import url("css/base/typography.css") layer(base); */

/* Dossier : css/layout/ */
/* @import url("css/layout/grid.css") layer(layout); */

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

/* Temporaire - Pour tester une variable définie dans les settings */
h1 {
  color: var(--couleur-principale);
}

.is-hidden {
  display: none;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.filter-list li {
  margin: 8px 0;
}

.section-title {
  font-weight: bold;
  font-size: 1.1em;
}

.list-option {
  padding-left: 15px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 12px;
}